.menu {
  flex: 1 0 auto;
  /* padding: 0 30px; */
}

.menu h2 {
  font-weight: 600;
  font-size: 32px;
  padding: 0 30px;
}

.menu ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  height: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 998;
  transition: all ease 0.3s;
}

.menu ul li:hover,
.white {
  color: #fff;
}

.active {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: black;
}
