.wrapper {
  left: 0;
  top: 0;
  bottom: 0;
  width: 270px;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d1d1d1;
  padding-top: 70px;
}

.backDrop {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 998;
  border: 0;
}

.logo {
  padding: 60px 0 40px 0;
  justify-content: center;
  display: flex;
}

.closeButton {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  color: black;
  font-size: 22px;
  padding: 4px 6px 3px 6px;
  transition: all ease 0.1s;
  background: none;
  border: 0;
}

.closeButton:hover {
  background-color: black;
  color: #fff;
}

@media (max-width: 768px) {
  .closeButton {
    display: block;
  }
  .wrapper {
    overflow: scroll;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 200px;
    border: 0;
  }
}
